.mainvisual {
    height: calc(100vh - 200px);
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

.main_ink .link {
    display: flex;
    align-items: flex-end;
    height: 200px;
    margin: -100px auto 0 auto;
}

.main_ink .link li {
    flex: 1;
    height: 180px;
    transition: 0.5s;
    background: #f6f6f6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_ink .link li:nth-child(1) {
    background: tomato;
}

.main_ink .link li:nth-child(2) {
    background: #f4cb4f;
}

.main_ink .link li:nth-child(3) {
    background: #337689;
}

.main_ink .link li:nth-child(4) {
    background: #6fa476;
}

.main_ink .link li:nth-child(1) a {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png)0 0;
}

.main_ink .link li:nth-child(2) a {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png)-100px 0;
}

.main_ink .link li:nth-child(3) a {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png)-200px 0;
}

.main_ink .link li:nth-child(4) a {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png)-300px 0;
}


.main_ink .link li:not(.customer):hover {
    height: 200px;
}

.main_ink .link .customer {
    flex: 2;
}

.mainvisual .bh {
    width: 100px;
    height: 100px;
    background: url(../images/icon_set_w.png);
    transition: 0.5s;
}