.ctr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, calc(-50% + 100px));
    margin: 0 0 0 -585px;
}

.ctr i {
    padding: 10px;
    font-size: 20px;
    color: #fff;
    background: rgb(150, 83, 147);
    margin: 0 5px 0 0;
}

#main_content {
    padding: 100px 0;

}

#main_content .inner {
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    gap: 10px;
    max-width: 1200px;
}

#main_content .inner>div {
    width: 200px;
    height: 600px;
    background: rgb(216, 171, 214);
}

#main_content .bgm2 iframe {
    left: -300px !important;
}